* {
    box-sizing: border-box;
}

.app {
    background: white;
    min-height: 100vh;
}

.sticky {
    position: sticky;
    inset: 0 auto auto 0;
}

.flex {
    display: flex;
    align-items: center;
    column-gap: 0.5vw;
}

.grid {
    display: grid;
    align-content: flex-start;
    justify-content: center;
    column-gap: 0.5vw;
    row-gap: 0.5vh;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@keyframes fadeSlideDown {
    0% {
        opacity: 0; 
        transform: translateY(-15%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeSlideUp{
    0% {
        opacity: 0;
        transform: translateY(15%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeSlideRight {
    0% {
        opacity: 0;
        transform: translateX(-15%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rotateLoop {
    0% { 
        transform: rotate(0); 

    }
    100% {
        transform: rotate(360deg);
    }
}