:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
}

h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  border: 0;
}

button:hover {
    opacity: 0.4;
}

