:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  border: 0;
  border-radius: 0.25rem;
}

button:hover {
    opacity: 0.4;
}

body {
    margin: 0;
    padding: 0;
}

input {
    border: 0;
}

input:focus {
    outline: 0;
}


