.header {
    padding: 1vh 2vw;
    justify-content: space-between;
    width: 100%;
    color: grey;
    background-color: rgb(240,240, 240);
    z-index: 3;
}

.header-top {
    margin: 0;
    align-items: flex-start;
    flex-direction: column;
}

.header-top span {
    font-size: clamp(1.5rem, 2vw, 2rem);
}

.header-links button {
    padding: 0 1vw 1vh 1vw;
    font-size: clamp(0.75rem, 0.875vw, 0.875rem);
    color: rgb(180, 180, 180);
    background-color: transparent;
}

.header-li:hover { opacity: 0.4; }

.header-li.active {
    border-bottom: 3px solid;
}

.header-icon {
    flex-direction: column;
}

.header-icon .icon {
    font-size: clamp(2rem, 3vw, 3rem);
}

.header-icon span {
    text-transform: uppercase;
    font-size: clamp(0.75rem, 0.875vw, 0.875rem);
    letter-spacing: 2px;
}