.home .animate { opacity: 0; }

.intro-section {
    justify-content: space-between;
    height: 80vh;
    width: 100%;
    color: white;
    background-color: mediumpurple;
}

.intro-section .animate.intersected {
    animation: fadeSlideDown 1s 0.5s forwards;
}

.intro-content {
    margin: 0 auto;
    padding: 5vh 0;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.intro-content h1 {
    margin-bottom: 2vh;
    font-size: clamp(2rem, 4vw, 4rem);
}

.intro-content p {
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    width: 60%;
}

.intro-content button {
    padding: 1vh 1vw;
    background-color: aquamarine;
}

.intro-image {
    height: 100%;
    width: 50%;
}

.team-section {
    position: relative;
    justify-content: center;
    height: 80vh;
    background-color: rgb(240,240, 240);
    overflow: hidden;
}

.team-section .animate.intersected {
    animation: fadeSlideDown 1s 0.5s forwards;
}

.team-bg {
    height: 90%;
    width: 100%;
    object-fit: contain;
    border-radius: 2rem;
}

.team-content {
    position: absolute;
    inset: 25% auto auto 25%;
    flex-direction: column;
}

.team-section h1 {
    padding: 1vh 2vw 1.5vh 2vw;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    width: 100%;
    color: white;
    background-color: mediumpurple;
    box-shadow: 0 2px 1px black;
    border-radius: 1rem;
}

.features-section {
    padding: 10vh 2vw 20vh 2vw;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 3vw;
    row-gap: 5vh;
    min-height: 70vh;
    background: rgb(250, 250, 250);
}

.feature-label {
    font-size: clamp(2rem, 3.5vw, 3.5rem);
    grid-column: 1 / -1;
    text-transform: uppercase;
    text-align: center;
    color: mediumpurple;
}

.feature-li {
    padding: 2vh 2vw;
    background-color: rgb(240, 240, 240);
    overflow: hidden;
    border-radius: 0.5rem;
}

.feature-li h1 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: mediumpurple;
    opacity: 0.7;
}

.feature-li p {
    font-size: clamp(0.75rem, 1vw, 1rem);
    color: grey;
}