.profile {
    padding: 1vh 1vw;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    width: 100%;
}

.profile.editing {
    box-shadow: 0 0 10px grey;
    border-radius: 0.5rem;
}

.profile-img {
    height: 5vh;
    width: 5vh;
    border-radius: 0.25rem;
}

.profile-name {
    text-align: left;
    font-size: clamp(0.875rem, 1.25vw, 1.25rem);
}

.profile-role {
    margin: 0.5vh 0 0;
    text-align: left;
    font-size: clamp(0.75rem, 1vw, 1rem);
}

.profile-bio {
    text-align: left;
    font-size: clamp(0.75rem, 0.875vw, 0.875rem);
    color: grey;
    width: 100%;
}

.profile-buttons { margin: 2vh 0 0 0; width: 100%; }

.profile-buttons button {
    padding: 0.5vh 0.5vw;
    font-size: clamp(0.75rem, 0.875vw, 0.875rem);
    font-weight: 100;
}

.profile-edit {
    color: white;
    background-color: tomato;
}

.profile-cancel {
    color: purple;
    border: 1px solid;
}

.profile-delete {
    color: brown;
    background-color: transparent;
    border: 1px solid;
}

.profile input, .profile textarea {
    padding: 0.5vh 0;
    background-color: transparent;
}

.profile textarea {
    text-overflow: ellipsis;
    overflow: hidden;
}

.profile.editing textarea {
    overflow: auto;
}

.profile input:focus, .profile textarea:focus {
    background-color: white;
}