.profile {
    padding: 1vh 1vw;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    color: white;
    overflow: hidden;
}

.profile.editing {
    border: 2px solid rgb(25, 75, 150);
    border-radius: 0.5rem;
}

.profile-header {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1vh;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.profile-header .icon-wrapper {
    margin: 0 0 0 auto;
    position: absolute;
    inset: 3% 4% 0 0;
    padding: 0.25vh 0.125vw;
    background-color: white;
    height: fit-content;
    width: fit-content;
    border-radius: 0.5rem;
    opacity: 0.4;
}

.profile-header .icon {
    font-size: clamp(1.5rem, 2.5vh, 2.5rem);
    color: grey;
}

.profile-img {
    height: 35vh;
    width: 100%;
    border-radius: 0.5rem;
}

.profile-name {
    margin: 0.5vh 0 0 0;
    text-align: left;
    font-size: clamp(0.875rem, 1.5vw, 1.5rem);
    font-weight: 700;
    color: gold;
}

.profile-role {
    margin: 0.5vh 0 0 0;
    text-align: left;
    font-size: clamp(0.75rem, 1vw, 1rem);
    font-weight: 700;
    color: yellow;
}

.profile-bio {
    margin: 0.5vh 0 0 0;
    text-align: left;
    font-size: clamp(0.75rem, 0.875vw, 0.875rem);
    width: 100%;
    color: white;
}

.profile-buttons {
    position: absolute;
    inset: 0% 0% 0% 0%;
    flex-direction: column;
    justify-content: center;
    row-gap: 2vh;
    height: 100%;
    width: 100%;
    background-color: rgb(25, 50, 125, 0.7);
    backdrop-filter: blur(10px);
    transform: translateY(100%);
    transition: transform 0.7s ease-in;
    border-radius: 0.5rem;
}

.profile-header .icon-wrapper:hover + .profile-buttons, .profile-buttons:hover, .profile.editing .profile-buttons {
    transform: translateY(0%);
}

.profile-buttons button {
    padding: 2vh 0.5vw;
    min-width: 60%;
    font-size: clamp(0.75rem, 0.875vw, 0.875rem);
    font-weight: 100;
    letter-spacing: 0.1vw;
    color: white;
    border: 2px solid;
}

.profile-edit {
    background-color: transparent;
}

.profile-cancel {
    background-color: transparent;
}

.profile-delete {
    background-color: transparent;
}

.profile input, .profile textarea {
    padding: 0.5vh 0;
    background-color: transparent;
    border-radius: 0.25rem;
}

.profile textarea {
    text-overflow: ellipsis;
    overflow: hidden;
}

.profile.editing input, .profile.editing textarea {
    text-indent: 0.5rem;
    overflow: auto;
    background-color: rgb(25, 75, 150);
}
