.task {
    padding: 2vh 1vw 2vh 1vw;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    background-color: rgb(25, 75, 150);
    width: 100%;
    border-radius: 1rem;
}

.task.editing {
    border: 3px solid gold;
}

.task-header {
    grid-template-columns: 85% 12.5%;
    width: 100%;
}

.task-title {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: 700;
    width: 100%;
    color: gold;
}

.edit-btn {
    font-size: clamp(0.75rem, 1vw, 1rem);
    color: white;
    background-color: transparent;
}

.task-title, .task-description, .task-person {
    padding: 0.5vh 0;
    border-radius: 0.5rem;
}

.task-description {
    margin: 2vh 0;
    padding-bottom: 2vh;
    font-weight: 300;
    font-size: clamp(0.75rem, 0.875vw, 0.875rem);
    color: white;
    width: 100%;
}

.task-progress {
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.task-assign {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5vh;
    color: grey;
}

.task-person {
    padding: 0.5vh 0.5vw;
    font-size: clamp(0.75rem, 0.875vw, 0.875rem);
    color: rgb(180, 180, 180);
    border-radius: 0.25rem;
}

.task-status-wrapper {
    justify-content: center;
    column-gap: 0;
    height: 5rem;
    width: 5rem;
    border: 2px solid;
    border-radius: 1rem;
}

.task-status-wrapper span {
    font-size: clamp(0.875rem, 1.5vw, 1.5rem);
    font-weight: 700;
}

.task-status {
    margin: 0.5vh 0 0 0;
    font-size: clamp(0.875rem, 1.5vw, 1.5rem);
    font-weight: 700;
    outline: 0px solid transparent;
}

.task.editing .edit-btn, .task:not(.editing) .icon-wrapper, .task:not(.editing) .submit-edit-btn, .task:not(.editing) .cancel-edit-btn {
    display: none;
}

.task:not(.editing) input, .task:not(.editing) textarea {
    background-color: rgb(25, 75, 150);
}

.task.editing input, .task.editing textarea, .task.editing .task-status-wrapper {
   text-indent: 0.5rem;
   background-color: rgb(25, 75, 175);
}

.task-assign .icon {
    color: rgb(220, 220, 220);
}

.submit-edit-btn, .cancel-edit-btn {
    margin: 5vh auto 0 auto;
    padding: 1vh 1vw;
    min-width: 50%;
    color: white;
    background-color: transparent;
    border: 1px solid;
}

.cancel-edit-btn {
    margin: 1.25vh auto 0 auto;
}

@media (max-width: 75rem) {
    .task-status-wrapper {
        height: 4rem;
        width: 4rem;
    }
}