.task-board {
    grid-template-columns: 30% 30% 30%;
    row-gap: 3vh;
    column-gap: 2vw;
    min-height: 90vh;
    background-color: rgb(25, 50, 125);
}

.task-board-label {
    margin: 2vh 0;
    grid-column: -1 / 1;
    justify-content: flex-start;
    column-gap: 1vw;
    color: gold;
}

.task-board-label > h1 {
    font-size: clamp(2rem, 3vw, 3rem);
}

.task-board-label .icon {
    font-size: clamp(2rem, 3vw, 3rem);
}
